@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal {
    opacity: 0;
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.bg-glass {
    background: rgba(44, 27, 18, 0.8);
    backdrop-filter: blur(8px);
}